
//animates the all movements by default
.page-box , .fade, .avatar, md-list-item *, .donut-chart *{
    .transition(all .3s ease);
}

//page transition
.page-box,  {
    &.ng-enter,
    &.ng-leave {}
    &.ng-enter {
        opacity: 0;
        -webkit-transform: scale3d(0.5, 0.5, 0.5);
        -moz-transform: scale3d(0.5, 0.5, 0.5);
        transform: scale3d(0.5, 0.5, 0.5);
    }
    &.ng-enter-active {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    &.ng-leave {
        opacity: 1;
        /*padding-left: 0px;*/
        
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    &.ng-leave-active {
        opacity: 0;
        /*padding-left: 100px;*/
        
        -webkit-transform: translate3d(100px, 0, 0);
        -moz-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }
}
md-list-item{
    &:hover {
        .avatar{
        transform: scale3d(1.3, 1.3, 1);
        -webkit-transform: scale3d(1.3, 1.3, 1);
        -moz-transform: scale3d(1.3, 1.3, 1);
        }
        .md-list-item-text{
            margin-left: 2em !important;
        }
    }
}
.avatar, .slice{
    &:hover{
        transform: scale3d(1.3, 1.3, 1);
        -webkit-transform: scale3d(1.3, 1.3, 1);
        -moz-transform: scale3d(1.3, 1.3, 1);
        cursor: pointer;

    }
}

.fade{
    opacity: 0;
}
.fade{
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; 
    -webkit-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
    opacity: 1;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}