<article class="widget-box profile">
    <div class="cover-image">
        <img src="./static_content/images/profile/cover_image_2.jpg" alt=""/>
    </div>
    <div class="box-content">
        <div class="avatar">
            <img src="./static_content/images/profile/cim_avatar.jpeg" alt=""/>
        </div>
        <h3>John Raymons</h3>
        <h6>Your talent amazes! This is awesome. Excited to see the final product.</h6>
    </div>
    <footer>
        <ul>
            <li class="views"><a href="#" ><span><i class="icon-eye"></i>172</span></a></li>
            <li class="comments"><a href="#" ><span><i class="icon-bubble"></i>34</span></a></li>
            <li class="likes"><a href="#"><span><i class="icon-heart"></i>210</span></a></li>
        </ul>
    </footer>

</article>