<nav class="widget-box top-nav">
    <md-list>
        <md-item>
            <md-button href="#" class="selected">
                <i class="icon-home"></i><span hide-md>{{'HOME' | translate}}</span><sup class="counter">3</sup>
            </md-button>
        </md-item>

        <md-item>
            <md-button href="#" >
                <i class="icon-heart"></i> <span hide-md>{{'EVENTS' | translate}}</span>
            </md-button>
        </md-item>
        <md-item>
            <md-button href="#" >
                <i class="icon-user"></i> <span hide-md>{{'ACCOUNT' | translate}}</span>
            </md-button>

        </md-item>
        <md-item>
            <md-button href="#">
                <i class="icon-cog"></i> <span hide-md>{{'SETTINGS' | translate}} </span>
            </md-button>
        </md-item>
    </md-list>
</nav>