<nav class="widget-box top-nav">
    <md-list>
        <md-item>
            <md-button href="#/home" ui-sref="home"  ui-sref-active="selected">
                <i class="icon-home"></i><span hide-md>{{'HOME' | translate}}</span><sup class="counter">3</sup>
            </md-button>
        </md-item>

        <md-item  >
            <md-button href="#/event" ui-sref="events"  ui-sref-active="selected">
                <i class="icon-heart"></i> <span hide-md>{{'EVENTS' | translate}}</span>
            </md-button>
        </md-item>
        <md-item>
            <md-button href="#/account" ui-sref="account"  ui-sref-active="selected" >
                <i class="icon-user"></i> <span hide-md>{{'ACCOUNT' | translate}}</span>
            </md-button>

        </md-item>
        <md-item>
            <md-button href="#/settings" ui-sref="settings"  ui-sref-active="selected">
                <i class="icon-cog"></i> <span hide-md>{{'SETTINGS' | translate}} </span>
            </md-button>
        </md-item>
    </md-list>
</nav>